<div class="body">

  <div class="login">
    <mat-spinner diameter="50" class="spinner" *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (ngSubmit)="logIn()" *ngIf="!isLoading">
      <img src="../../../assets/img/user.png" alt="" />
      <h3>Login</h3>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>User</mat-label>
        <input matInput autocomplete="off" formControlName='user'/>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" formControlName='password' type="password"/>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" class="ancho boton-pers" type="submit" [disabled]="form.invalid">
        Ingresar
      </button>
    </form>
  </div>
</div>
